name: CI

on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:
    types: [opened, synchronize, reopened]
  schedule:
    - cron: '0 0 * * 0'

jobs:
  self-runner:
    continue-on-error: true
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: [self-hosted, linux, X64]
    strategy:
      matrix:
        os: [ubuntu-latest]
        julia-version: ['1']
        julia-arch: [x64]

    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@latest
        continue-on-error: true
      - uses: julia-actions/julia-runtest@latest
        continue-on-error: true
