name: Documentation

on:
  push:
    branches:
      - main
    tags: '*'
  pull_request:
    types: [opened, synchronize, reopened]
  schedule:
    - cron: '0 0 * * 0'

jobs:
  docs:
    name: Build documentation
    env:
      DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      JULIA_DEBUG: Documenter
    runs-on: [self-hosted, linux, X64]

    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@latest
        with:
          version: 'lts'
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@latest
      - run: julia --project=docs/ docs/make.jl